<div class="body card">
    <div class="container card card-login bg-dark">
        <div class="login_wrapper text-center">

            <section class="justify-content-center">
                <!-- <form method="POST" action="http://localhost:1337/login"> -->
                <form method="GET" action="/dashboard">
                    <br>

                    <div class="font-magic">
                        <h1><strong>INICIAR SESION</strong></h1>
                    </div>
                    <div><br></div>
                    <div class="justify-content-center m-side">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                            required="" />
                    </div><br>
                    <div class="justify-content-center m-side">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            required="" />

                    </div><br>
                    <div>
                        <button class="btn btn-light a" action="submit"><b> Ingresar</b></button>
                        <a class="reset_pass" href="#">olvidaste tu contraseña?</a>
                    </div>


                    <div class="separator">
                        <p class="change_link">primera vez en el sitio?
                            <a href="../registro" class="to_register"> Crear cuenta </a>
                        </p>

                        <div class="clearfix"></div>


                        <div class="logo-login font-magic">
                            <h1><i class="fa fa-anchor"></i> TUWALLET</h1>
                            <p>©2022 Todos los derechos reservados. TUWALLET!. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </div>
</div>