<section class="section" id="sobremi">
    <h1 class="about-me text-center">Sobre Mi</h1>
    <div class="container">

        <p>Hola, mi nombre es Yamil Alexis Scolamieri, soy comerciante, emprendedor, mandatario del automotor y
            aspirante a desarrollador full stack. </p>
        <div class="row">
            <div class="col-6 description">

                <li></li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                quidem! Distinctio, tenetur qui deserunt sed architecto delectus iusto ad quas magni laudantium.
                Libero doloremque, delectus quaerat et cumque architecto accusantium.
            </div>

            <div class="col-6 description">
                <div class="d-flex">
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-school"></i>
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-music"></i> 
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-school"></i>
                    </div>
                </div>
                <div class="d-flex">
                    <div class='card-local text-center'>
                        <i class="fa-solid fa-guitar-electric"></i> 
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-school"></i>
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-school"></i>
                    </div>
                </div>

            </div>

        </div>


    </div>

</section>