<section class="section" id="sobremi">
    <div><br></div>
    <h1 class="about-me text-center justify-content-center flex-wrap">Sobre Mi</h1>
    <div class="container ">

        <p>Hola, mi nombre es Yamil Alexis Scolamieri, soy comerciante, emprendedor, aspirante a desarrollador full stack. </p>
        <div class="row">
            <div class="col-6 description">
                <div class="text-right">
                <h1 class="description h1">Experiencia Laboral</h1>
            </div>
                <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                quidem! Distinctio, tenetur qui deserunt sed architecto delectus iusto ad quas magni laudantium.
                Libero doloremque, delectus quaerat et cumque architecto accusantium.
           </li>
           <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
            quidem! Distinctio, tenetur qui deserunt sed architecto delectus iusto ad quas magni laudantium.
            Libero doloremque, delectus quaerat et cumque architecto accusantium.
       </li>
            </div>

            <div class="col-6 description">
                <div class="text-center">
                    <h1 class="description h1">Intereses</h1>
                </div>
                <div class="justify-content-center d-flex flex-wrap ">
                   
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-music"></i>
                       <div class="description small"> Musica</div>
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-tree"></i>
                        <div class="description small">Naturaleza</div> 
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-umbrella"></i>
                        <div class="description small">Lluvia</div> 
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-gamepad"></i>
                        <div class="description small">Juegos</div>
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;"  class="fa-solid fa-guitar"></i>
                        <div class="description small">Guitarra</div>
                    </div>
                    
                </div>
                <div class="justify-content-center d-flex flex-wrap">
                     
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-microchip"></i>
                        <div class="description small">Tecnologia</div>
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-dog"></i>
                        <div class="description small">Animales</div> 
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-hotdog"></i>
                        <div class="description small">Comida</div> 
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-person-running"></i>
                        <div class="description small">Correr</div>
                    </div>
                    <div class='card-local text-center'>
                        <i style="font-size: 50px;" class="fa-solid fa-tent"></i>
                        <div class="description small">Camping</div>
                    </div>
                </div>

            </div>
          
        </div>
        <div class="text-center mt-5 mb-2">
        <button type="button" class="btn btn-light a"><b>Descargar CV</b></button>
    </div>
    </div>
<div><br></div>
</section>