<ng-container *ngIf="show">
	<div class="modal-background">
		<div class="modal-container">
			<div class="modal-content">
				<form action="">
					<div class="">
						<div class="container justify-content-center align-items-center">
							<i class="fas fa-pencil-alt"></i>
							<div class="text-center mb-2">
								<h2><b>ACTUALIZAR USUARIO</b></h2>
							</div>
							<div class="info">
								<input class="fname" type="text" name="first_name" [(ngModel)]="dataForm.first_name"
									placeholder="{{users.first_name}}">
								<input class="fname" type="text" name="last_name" [(ngModel)]="dataForm.last_name"
									placeholder="{{users.last_name}}">
								<input type="email" name="email" [(ngModel)]="dataForm.email"
									placeholder="{{users.email}}" required>
								<input type="text" name="telephone" [(ngModel)]="dataForm.telephone"
									placeholder="{{users.telephone}}" required>
								<!-- <input type="password" name="password"[(ngModel)]="dataForm.password" placeholder="{{users.password}}" required>
					  <label for="inputPassword5">Password</label> -->
								<input type="password" name="password" [(ngModel)]="dataForm.password"
									id="inputPassword5" placeholder="{{users.password}}" minlength="8" maxlength="20"
									class="form-control" aria-describedby="passwordHelpBlock">
								<small id="passwordHelpBlock" class="form-text text-muted">
									Tu contraseña tiene que tener entre 8-20 caracteres de longitud, contener letras y
									numeros, no debe contener espacios, caracteres especiales , o emoji's.
								</small>
							</div>
						</div>

						<div class="checkbox">

						</div>

						<!-- Mescla de ngIf y ngSwitch que funciona ------------- -->

						<div [ngSwitch]="updatedUser">
							<div *ngSwitchCase="updatedUser.error">o</div>

						</div>

						<div class="success-container" [ngClass]="{'show': updatedUser}"
							*ngIf="updatedUser; else notUpdated">
							<div class=" text-center justify-content-center ">
								<i class="fa-solid fa-circle-check color-success icon-success"></i>
							</div>
							<div class="text-center justify-content-center color-success ">
								El usuario ha sido actualizado exitosamente!!
							</div>
						</div>
						<ng-template #notUpdated>
							<div *ngIf="!updatedUser" class="success-container" [ngClass]="{'show': !updatedUser}">
								<div class=" text-center justify-content-center ">
									<i class="fa-solid fa-circle-check color-error icon-success"></i>
								</div>
								<div class="text-center justify-content-center color-error ">
									Error al actualizar el usuario, revise los datos proporcionados.!!
								</div>
							</div>
						</ng-template>

						<div class="d-flex">
							<button (click)="sendForm()">ACTUALIZAR</button>
							<div class="mx-4"> <button (click)="closeModal()">CERRAR</button></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<ng-template #closeIcon> <i style="font-size: 50px;" (click)show="showModal()"
			class="fa-solid fa-xmark"></i></ng-template>

		</ng-container>
	