<section class="section" id="experience">
    <h1 class="about-me text-center">Conocimientos</h1>
    <div class="container">

        <div class="row">

            <div class="col-6 text-center">

                <h1 class="description h1">Front-End</h1>
                <li class="description p"> Javascript
                    <div class="progress">

                        <div id="bar1" class="color-second-primary" role="progressbar" style="width:70%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>70%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> CSS
                    <div class="progress">

                        <div id="bar2" class="color-second-primary" role="progressbar" style="width: 44%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 44%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> HTML
                    <div class="progress">

                        <div id="bar3" class="color-second-primary" role="progressbar" style="width: 21%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 25%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> EJS
                    <div class="progress">

                        <div id="bar4" class="color-second-primary" role="progressbar" style="width: 2%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 2%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p">Angular
                    <div class="progress">

                        <div id="bar5" class="color-second-primary" role="progressbar" style="width: 22%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 22%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> type-Script
                    <div class="progress">

                        <div id="bar6" class="color-second-primary" role="progressbar" style="width: 55%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 55%</b></div>
                    </div>
                </li>
                <br>



            </div>

            <div class="col-6 text-center">
                <h1 class="description h1">Back-End</h1>
                <li class="description p"> Node.Js
                    <div class="progress">

                        <div id="bar7" class="color-second-primary" role="progressbar"
                            style="width: 60%; max-height: 40;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="40">
                            <b> 60%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> Java
                    <div class="progress">

                        <div id="bar8" class="color-second-primary" role="progressbar" style="width: 29%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 25%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p">Docker
                    <div class="progress">

                        <div id="bar9" class="color-second-primary" role="progressbar" style="width: 76%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 25%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p">Sails.js
                    <div class="progress">

                        <div id="bar10" class="color-second-primary" role="progressbar" style="width: 10%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 25%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> SQL
                    <div class="progress">

                        <div id="bar11" class="color-second-primary" role="progressbar" style="width: 44%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 25%</b></div>
                    </div>
                </li>
                <br>
                <li class="description p"> MongoDb
                    <div class="progress">

                        <div id="bar12" class="color-second-primary" role="progressbar" style="width: 85%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> 25%</b></div>
                    </div>
                </li>
                <br>
            </div>
        </div>
    </div>
</section>

