
  <div class="inicio">
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-4">
        <img src="./assets/img/logo-argprog.png" width="120" height="70" alt="logo-argprog">
        <a class="font-magic navbar-brand" href="#">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"><b> INICIO</b></a>
                <a class="nav-item nav-link"[routerLink] = "['/home']" fragment="sobremi"><b>SOBRE MI</b></a>
                <a class="nav-item nav-link"[routerLink] = "['/home']" fragment="experience"><b>CONOCIMIENTOS</b></a>
                <a class="nav-item nav-link"[routerLink] = "['/home']" fragment="skills"><b>SKILLS</b></a>
            </div>
        </div>
    </nav>
    <div id="skroll-btn" (click)="scrollTop()" class="skroll-btn a">
        <i class="fa-solid fa-angles-up"></i>
      </div>

   