<section class="section" id="contacto">
  <h1 class="about-me text-center about-me">Contacto</h1>
  <div class="container">
       <div class="row">
          <div class="col-6 description">
            DATOS DE CONTACTO:
            <li>telefono: 3445 408832</li>
            <li>Email:distribuidoratrash@gmail.com</li>
            <li>Direcccion: Podesta 413, Basavilbaso, Entre Rios</li>
            <li>CP:3170</li>
            <li>telefono: 3445 408832</li>
            </div>
          <div class="col-6 description"></div>

      </div>
<div><br><br></div>

  </div>

</section>