<section class="section" id="skills">
    <h1 class="about-me text-center">skills</h1>
    <div class="container ">
        <div class="row">
            <div class="col-12 description">
         <div class="container">
                <div class="container body-graph">
                    <div class='porcentajes text-center' style="--porcentaje: 60; --color:rgb(133, 228, 161)">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>68%</span>
                        bootstrap
                    </div>
                    <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>70%</span>
                        web3.js
                    </div>
                    <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>75%</span>

                    </div>
                    <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>75%</span>
                    </div>
                    <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>75%</span>
                    </div>

                    <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>75%</span>
                    </div>
                    <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                        <svg width="150" height="150">
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            <circle r="65" cx="50%" cy="50%" pathlength="100" />
                        </svg>
                        <span>75%</span>
                    </div>
                </div>
            </div>
</div>
            <div class="col-12 description">
                <div class="container">
                    <div class="container body-graph">
                        <div class='porcentajes text-center' style="--porcentaje: 68; --color:rgb(133, 228, 161)">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>68%</span>
                            Ingles
                        </div>
                        <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>60%</span>
                            Ingles
                        </div>
                        <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>65%</span>
                            Ingles
                        </div>
                        <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>60%</span>

                        </div>
                        <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>60%</span>
                            Ingles
                        </div>

                        <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>75%</span>
                        </div>
                        <div class='porcentajes text-center' style="--porcentaje: 75; --color:rgb(133, 228, 161) ">
                            <svg width="150" height="150">
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                                <circle r="65" cx="50%" cy="50%" pathlength="100" />
                            </svg>
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section> 
